student{
    display: block;
    margin-left: 10px;
    font-size: 12pt;
    color: navy;
}
usn{
    display: block;
    margin-left: 10px;
    font-size: 14pt;
    color:red;

}
name{
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color:blue;
}
college{
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color:palegreen;
}
branch{
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color:hotpink;
}
year{
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color:brown;
}
email{
    display: block;
    margin-left: 20px;
    font-size: 14pt;
    color:skyblue;
}